/**************GENERAL**************/
html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}	
	

h3 {
	padding-top : 15px;
}

label {
	color : #050055;
}

#fieldset1 label {
	color : #050055;
	font-size : 18px;
}

.row {
	margin-bottom : 15px;
}

#content{
	min-height: 100%;
	width:100%;
		
}

/*************ACCUEIL**************/

#banniere {
	background-color : #ffffff;	
	height: 20%;
	width : 100%;
	display: inline-block;
	box-shadow: -1px 3px 6px 2px rgba(0, 0, 0, 0.7);
	border-bottom: solid #375D81 40px;
	padding-left : 2%;
}

	#banniere img {
		width:17%;
		display : inline-block;
		float : left;
	}

	#banniere h1 {
		margin-left : 30%;
		margin-top : 2%;
	}

#contenu {
	margin-top : 5%;
	margin-bottom : 5%;
}

	#contenu h2 {
		font-size : 18px;
		margin : 15px;
	}
	
	#contenu a{
		margin-bottom : 7%;
	}

/*************MENU PRINCIPAL**************/


#menu-principal {
	background-color : #ffffff;	
	height: 20%;
	width : 100%;
	display: inline-block;	
	padding-left : 2%;
}

	#menu-principal img {
		width:17%;
		display : inline-block;
		float : left;
	}

	#menu-principal h1 {
		margin-left : 30%;
		margin-top : 2%;
	}

	#menu-horizontal a {
		color : #ffffff;
	}
	


#menu-horizontal{
	width: 100%;
	background-color: #375D81;
	text-align: left;
	padding: 5px;
	list-style-type: none;
}

	#menu-horizontal li{
		display: inline-block;
		width: 179px;
		height: 40px;
		border-right: 1px solid white;
		padding : 0px ;
		margin: 0px;
		text-align: center;
		line-height: 40px;
	}

		#menu-horizontal li > a{
			display: block;
			text-transform: uppercase;
			padding:auto;
			color : #ffffff;
		}

		#menu-horizontal li > a:hover { 
			background-color: rgba(147, 182, 244, 0.9);
			color: white;
		}

.deconnexion{
	background-color: white;
	border-radius: 10px;
	padding-left: 10px;
	border-right: 0px;
}

	.deconnexion a{
		color: orange;		
	}

	.deconnexion a:hover{
		color: white;
		background-color: rgba(147, 182, 244, 0.9);
		border-radius: 10px;
		padding-left: 10px;
	}
	
	
	









/*****************************************MENU STATS*****************************************/

#statistics{
	width:100%;
	min-height:100%;
	
	position: absolute relative;
	
	
}

#side-menu{
	height: 135%;
	position: absolute;
	overflow: hidden;	
	background-color: #E6E6E6;
	text-align: center;
}


#stat_data{
	float: right;
	
	
}

#query-result {
	max-height: 500px;
	overflow: scroll;
	
}
	#side-menu p{
		text-align: center;
	}

	#side-menu li{	
			width: 100%;
			height: 40px;
			padding: auto;
			text-align: center;
			line-height: 40px;
			list-style-type: none;
			margin-left: -20px;
	}

		#side-menu li > a{
			display: block;
			text-transform: uppercase;
			padding:auto;
			line-height: 40px
		} 

		#side-menu li > a:hover { 
			background-color: rgba(147, 182, 244, 0.9);
			color: white;
		}
		
		checkbox {
			padding-top : 15px;
		}

		
		
		#stat_data {
			
			min-height : 100%;
			
			
		}
		
		
		

/***************FOOTER***************/
#footer {
	background-color : #f3f5f3;
	height : 20%;
	width : 100%;
	
	text-align : center;
	padding-top : 1%;
	
	box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.7);
 	position: absolute;
    
}